.skills {
  margin-top: 30px;
}

.skillbar {
  background-color: #efefef !important;
}

.skillbar-percent {
  color: #2472a6 !important;
  font-weight: 900 !important;
  // text-shadow: #fff 1px 1px 1px !important;
}
