@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
	// scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	background-color: #f4f5f5;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Source Sans 3', sans-serif;
}

#root {
	color: #3c3b3b;
}

a {
	text-decoration: none;
	color: inherit;
	word-wrap: none;
	white-space: nowrap;
}

a:hover {
	color: #2e59ba !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 1em;
}

h1 {
	margin-bottom: 0;
}

h1,
h2 {
	letter-spacing: 6px;
}

p {
	font-weight: 400;
	line-height: 1.5em;
	color: #989898;
	font-size: 13px;

	@media (max-width: 899px) {
		font-size: 14px;
	}

	&.lead {
		letter-spacing: 0.25em;
		text-transform: uppercase;
		line-height: 2em;
	}
}

.background-mountains {
	z-index: -100;
	position: fixed;
	top: 120px;
	left: 0;

	img {
	}
}

.mainContainer {
	z-index: 10;
}

section {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	overflow: hidden;
	background-color: transparent;

	.sectionContent {
		padding: 100px 50px;
		display: flex;
		flex-direction: row;

		@media (max-width: 899px) {
			padding: 50px 25px 15px;
		}

		a {
			border-bottom: 1px dotted #a0a0a0a6;
			color: inherit;
			text-decoration: none;
			transition: color 0.2s ease, border-bottom-color 0.2s ease;

			&.photo {
				border: none;
			}
		}

		.sectionContent-left {
			padding: 20px;
			display: flex;
			flex-direction: column;

			&.resume {
				padding-top: 0;
			}
		}

		.sectionContent-right {
			background-color: white;
			border: solid 1px rgba(0, 0, 0, 0.1);
			padding: 50px 20px;
			display: flex;
			flex-direction: column;
			flex-grow: 0;
		}
	}
}
