@use 'themes' as *;

header {
	width: 100%;
	min-width: 350px;
	display: flex;
	align-items: center;
	background-color: var(--header-bg-color);
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin: 0;
	font-optical-sizing: auto;
	font-size: 12px;
	letter-spacing: 5px;
	color: var(--color);
	position: absolute;
	top: 5px;

	.logoContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 55px;
		min-width: 200px;
		padding: 0;
		margin: 0;
		border-right: solid 1px rgba(0, 0, 0, 0.1);

		@media (max-width: 899px) {
			border: none;
		}

		h1 {
			display: flex;
			align-self: center;
			text-transform: uppercase;
			line-height: inherit;
			display: flex;
			font-size: 12px;
			font-weight: 900;
			color: inherit;

			a {
				font-weight: bolder;
				line-height: 55px;
				font-family: inherit;
			}
		}
	}

	.topNav {
		margin-left: auto;
		margin-right: 30px;
		color: var(--top-nav-text-color);
		letter-spacing: 3px;
		font-weight: normal;

		.hamburgerMenu {
			display: none;
			margin-right: -20px;

			@media (max-width: 899px) {
				display: block;
			}

			.mobileNavMenu {
				display: fixed;
				width: 150px;
				height: 100vh;
				position: absolute;
				top: 55px;
				bottom: 0;
				right: 0;
				border-left: solid 1px rgba(0, 0, 0, 0.2);
				background-color: var(--header-bg-color);
				padding: 10px 15px;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					display: block;

					li {
						width: 100%;
						display: block;
						line-height: 30px;
						text-transform: uppercase;
					}
				}
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 30px;
			display: flex;
			align-items: center;
			justify-items: space-between;
			gap: 20px;

			&.desktopNavMenu {
				li {
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					height: 55px;

					a {
						padding: 0;
						color: var(--top-nav-text-color);
						line-height: 55px;
						height: 100%;
						display: flex;
						align-items: center;

						&:hover {
							color: var(--top-nav-text-color-hover);
							font-weight: 500;
						}
					}
				}

				a.homeIcon {
					color: var(--top-nav-text-color);
					display: flex;

					&:hover {
						color: var(--top-nav-text-color-hover);
					}

					svg {
						font-size: 20px;
					}
				}

				span:after {
					content: '|';
					opacity: 0.5;
				}

				span:last-of-type {
					display: none;
				}

				@media (max-width: 899px) {
					display: none;
				}
			}
		}
	}
}
