@use 'themes' as *;

.mobileGallery {
	display: none;

	@media (max-width: 899px) {
		display: block;
	}
}

.mobileProjectContainer {
	margin: 10px auto 15px;
}

.sliderContainer {
	padding: 0 0 25px 0;
	width: 100%;
	display: none;

	h5 {
		margin-top: 25px;
	}

	@media (min-width: 900px) {
		display: block;
	}
}

.sliderImg {
	display: flex;
	margin: 0 auto;
	height: auto;
	width: 100%;
	border-radius: 5%;
}

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 25px;
	height: 25px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: var(--text-link-color);
	border: none;
	outline: none;
	background-color: transparent;
	z-index: 100;

	&:hover {
		&:before,
		&:after {
			color: var(--text-link-color-hover);
		}
	}
}

.slick-prev {
	left: -35px;
}

.slick-next {
	right: -35px;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'slick';
	font-size: 25px;
	line-height: 1;
	opacity: 1;
	color: var(--text-link-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	filter: drop-shadow(3px 10px 4px rgba(0, 0, 0, 0.2));

	&:hover {
		filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.3));
	}
}
